.login {
  width: 400px;
  height: 360px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;

  &__brand {
    width: 150px;
    height: 50px;
    font-size: 32px;
  }

  &__submit {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}